.open {
  margin-top: 56px;
}

.side-nav .divider {
  margin:0;
}

.side-nav li>a {
  height: 30px;
  line-height: 30px;
}

.side-nav .subheader {
  line-height: 30px;
}

.options {
  color: rgba(0,0,0,0.87) !important;
  margin: 10px auto;
}

.bg-aquamar {
  background-color: #65bba0;
}

.icon-container i {
  font-size: 3em;
  margin-bottom: 10px;
}

.icon-container span {
  display: block;
}

.icon-container .icon-preview {
  height: 70px;
  text-align: center;
}

.photo-perfil {
  display:block;
  margin:10px auto;
  width: 220px;
  height: 220px;
}

.photo-perfil-circule {
  margin:5px;
  border-radius: 100%;
  width: 36px;
  height: 36px;
}

img {
  width: 100%;
}

.img-icons {
  width: 3em;
  height: 3em;
  margin-bottom: 5px;
}

.c-aquamar {
  color: #65bba0;
}

.create {
  text-transform: lowercase !important;
  color: #039be5 !important;
}

.create:hover {
  color: #055980 !important;   
}

.pointer {
  cursor: pointer
}

.f-size-10 {
  font-size: 10px;
}

.m-bttm-20 {
  margin-bottom: 20px;
}

.btn-pub {
  letter-spacing: .1px;
  padding: 0 5px;
  margin: 5px 0 0 10px;
}
